.navbar-top	{
	top: 0;
  	border-width: 0 0 1px;
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030;
	height:35px;
	background-color: #FFA6C9;
}

.navbar-top h5 {
	color: floralwhite;
	font-weight: bold;
	margin-left: 40px;
  	margin-right: 40px;	
}

.navbar-top span {
 	font-weight: bold;
}

.navbar-top h5 span#title {
	padding-left: 6px;
}

.navbar-bottom	{
	bottom: 0;
	margin-bottom: 0;
	border-width: 1px 0 0;
	position: fixed;
  	right: 0;
  	left: 0;
  	z-index: 1030;
	height:40px;
	border-top: 1px solid #ddd;
	background-color: ghostwhite;
}

.wrap	{
	margin-top: 35px;
	margin-bottom: 40px;
}

.wrap img{
	width:100%; 
	height:100%; 
	padding:8px
}

a.list, a.search, a.history, a.info {
	width:19%;
	height: 100%;
	padding-top: 10px;
	text-decoration: none;
}

a.home {
	width:24%;
	height: 100%;
	padding-top:10px;
	text-decoration: none;
}

span.title {
	margin-left: 14px;
}

span.dash {
	margin-left: 20px;
	margin-right: 20px;
}


#search .list-group-item, #search .input-group, #list .list-group-item, #history .list-group-item {
	padding: 12px 18px;
	height: 45px;
}
#search input {
	border-radius: 5px;
}
#search .list-group, #list .list-group, #history .list-group {
	margin-bottom: 30px;
}
#search .badge, #history .badge, #list .badge {
	background-color: lightsalmon;
}
/*
#list .badge {
	background-color: cornflowerblue;
}
*/
#list .list-group-item span.startNo {
	margin-left: 20%;
}
#list .list-group-item span.glyphicon {
	margin-right: 14%;
}
 
div.searchText {
	width: 100%;
}

img.imageEnlargement {
	width: 140%;
}

.navbar-top span.backBtn {
	width: 45px;
	height: 35px;
	padding: 7px 14px;
	position: fixed;
	font-size: 20px;
	top: 0;
	left: 0;	
}

.navbar-top span.history {
	width: 45px;
	height: 35px;
	padding: 7px 14px;
	position: fixed;
	font-size: 20px;
	color: gainsboro;
	top: 0;
	right: 0;	
}

.navbar-top span.history.hasPraise {
  color: cornflowerblue;
}

a.active > span.icon {
	color: #FFA6C9;
}

.b_clear {
  position: absolute;
  top: 11px;
  right: 15px;
  z-index: 3000;
  display: inline-block;
  padding: 6px 8px 6px 8px;
  font-size: 22px;
  color: #9D9B9B;
}

span.right {
  font-size: x-large;
  display: inline-block;
  position: absolute;
  top: 9px;
  right: 16px;
}